<body>
    <h2 class="intro"> ARTE + ENSINO</h2>
    <div class="container">
        <div class="card" id="danca">
            <div class="imagem-do-cartao">
                <img src="/img/dancar-bale.png">
            </div>
            <h2>Dança</h2>
            <p>Se você gosta de Dança, veja esses cursos:</p>
            <ul class="card-list">
                <li> <a target="_blank" href="https://www.belasartes.br/graduacao/matriz-cursos-de-graduacao/danca/?gad_source=1&gclid=EAIaIQobChMI8Zi7iJW5hgMV8GFIAB1p8QytEAAYAyAAEgIObfD_BwE" >
                        Bacharelado em Dança- Belas artes</a></li>
                <li><a  target="_blank" href="https://www.comvest.unicamp.br/cursos/curso-danca/"> Bacharelado em dança- UNICAMP</a> </li>
                <li><a target="_blank" href="https://spescoladedanca.org.br/cursos_livres"> Cursos Livres da Escola de Danças SP</a></li>
              

            </ul>
        </div>
        <div class="card" id="music">
            <div class="imagem-do-cartao">
                <img src="/img/musica-alt.png">
            </div>
            <h2>Música</h2>
            <p>Se você gosta de Música, veja esses cursos:</p>
            <ul class="card-list">
                <li> <a target="_blank" href="https://www.iar.unicamp.br/graduacao/cursos/graduacao-em-musica/ "> Bacharelado em Música- UNICAMP</a></li>
                <li> <a target="_blank" href="https://www.sesisp.org.br/cultura/nucleo-de-musica">  Cursos Livres- Nucleo de Música (SESI)</a></li>
                <li> <a target="_blank" href="https://www5.usp.br/ensino/graduacao/cursos-oferecidos/musica/"> Graduações diversas em música- USP</a></li>
            </ul>
        </div>

        <div class="card" id="teatro">
            <div class="imagem-do-cartao">
                <img src="/img/mascaras-de-teatro.png" alt="">
            </div>
            <h2>Teatro</h2>
            <p>Se você gosta de Teatro, veja esses cursos:</p>

            <ul class="card-list">
                <li> <a target="_blank" href="https://www.sp.senac.br/cursos-tecnicos/curso-tecnico-em-teatro"> Curso Técnico de teatro- SENAC</a> </li>
                <li> <a target="_blank" href="https://www.spescoladeteatro.org.br/curso-tecnico/sobre-o-curso-tecnico"> Diversos cursos técnicos de teatro- Escola de Teatro SP </a></li>
                <li> <a target="_blank" href="https://www.belasartes.br/graduacao/matriz-cursos-de-graduacao/artes-cenicas/"> Arte Cênicas- Belas Artes</a></li>
                <li> <a target="_blank" href="https://uspdigital.usp.br/jupiterweb/listarGradeCurricular?codcg=27&codcur=27212&codhab=1&tipo=N"> Artes Cênicas- USP</a></li>
            </ul>
        </div>
        <div class="card" id="desenho">
            <div class="imagem-do-cartao">
                <img src="/img/lapis-pincel.png">
            </div>
            <h2>Desenho</h2>
            <p>Se você gosta de Desenho, veja esses cursos:</p>
            <ul class="card-list">
                <li> <a target="_blank" href="https://www.sp.senac.br/cursos-livres/curso-de-fundamentos-do-desenho-artistico"> Curso de fundamentos de desenho artistico - SENAC</a></li>
                <li><a target="_blank" href="https://www5.usp.br/ensino/graduacao/cursos-oferecidos/artes-visuais/"> Graduações em Artes Visuais- USP</a></li>
                <li><a target="_blank" href="https://www.belasartes.br/graduacao/matriz-cursos-de-graduacao/artes-visuais/"> Artes Visuais- Belas Artes</a> </li>
            </ul>
        </div>
        <div class="card" id="dd">
            <div class="imagem-do-cartao">
                <img src="/img/personalizar-computador.png">
            </div>
            <h2>Desenho Digital</h2>
            <p>Se você gosta de Desenho Digital, veja esses cursos:</p>
            <ul class="card-list">
                <li> <a target="_blank" href="https://www.sp.senac.br/cursos-livres/curso-de-design-de-ilustracao-digital"> Curso de Design de Ilustração digital- SENAC</a></li>
                <li> <a target="_blank" href="https://www.alura.com.br/formacao-desenho-digital"> Formação em Desenho Digital- Alura</a></li>
                <li> <a target="_blank" href="https://ebaconline.com.br/ilustracao-digital"> Curso de Ilustração digital- EBAC </a></li>
            </ul>
        </div>
        <div class="card" id="anm">
            <div class="imagem-do-cartao">
                <img src="/img/corrida.png">
            </div>
            <h2>Animação</h2>
            <p>Se você gosta de Animação, veja esses cursos:</p>
            <ul class="card-list">
                <li><a target="_blank" href="https://www.sp.senac.br/cursos-livres/curso-de-animacao-digital-2d-atuacao-e-cena"> Curso de Animação Digital 2D- SENAC</a></li>
                <li><a target="_blank" href="https://www.sp.senac.br/graduacao/tecnologia-em-design-de-animacao"> Graduação Design de Animação</a></li>
                <li><a target="_blank" href="http://https://ebaconline.com.br/animation-3d"> Curso de Animação 2D</a></li>
            </ul>
        </div>
        
    </div>
    
</body>
