<mat-card>
    <mat-card-header>
        <mat-card-title> Criar Publicação </mat-card-title>
    </mat-card-header>
    <div>
        <textarea #commentInput placeholder="fale mais sobre sua arte.." id=""></textarea>
    </div>
    <div *ngIf="selectedImageFile" id="post-preview">
        <img id="post-preview-image"/>

    </div>
    <mat-card-actions>
        <button mat-button color="warm">
            <label for="photo-upload">
                <input #photoSelector (change)="onPhotoSelected(photoSelector)"  (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image/*">
                <mat-icon> insert_photo</mat-icon>
            </label>
        </button>
        <button (click)="onPostClick(commentInput)" mat-flat-button color="warm"> Postar </button>
    </mat-card-actions>
</mat-card>