<div id="perfil" [ngClass]="{'active': show, 'idle': !show}">
    <div id="perfil-content">
        <input #nameInput placeholder="nome">
        <textarea #descriptionInput placeholder="Descrição"></textarea>
        <button (click)="onContinuarClick(
            nameInput,
            descriptionInput
        )" mat-flat-button color="warm"> Continuar </button>
   <h4 style="color: blanchedalmond;"> * Esses dados não seram exibidos na hora da postagem e irão servir apenas para autenticação do seu usuário. </h4>

    </div>

</div>
