#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    

}

#login-content {
    width: 100%;
    max-width: 30em;
    padding: 1.em;
    border-radius: 30px;
}


button {
    margin: .5em;
    border-radius: 65px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    padding: 1em;
    margin: .9em 0;
    border-radius: 50px;
    outline: none;
    border: 1px solid rgba(15, 15, 15, .3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}