<main>
    <section class="home">
        <div class="home-text">
            <h1 class="text-h1">
                Bem vindo ao 
                <br>
                <span class="h1-img">
                    <img src="/img/spray.png" alt="artistas">
                </span>
                <span class="h1-img1">
                    <img src="/img/sparte-nome1.png" alt="artistas">
                </span>
            </h1>
            <h4 class="text-h4">Conectando-se com a Arte.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod error veniam in voluptatem magni quisquam</p>
       
             <button class="home-btn1" (click)="onLogarclicked()" mat-flat-button="warm"> Começar </button>
        </div>
        <div class="home-img">
            <img src="/img/arte-landing.png" alt="artistas">
        </div>
    </section>
</main>
