<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
    <nav class="navbar">
        <img src=" /img/kam2.png" id="user_avatar" alt="Avatar">
       <button class="close-button" (click)="toggleNavbar()">&#10006;</button>
    <ul >
      <li><a href="/"><i class="bx bx-home"></i> Home</a></li>
    
      <li><a href="/arts"><i class="bx bx-palette"></i> Os artistas</a></li>
      <li><a href="/estudos"><i class="bx bx-book"></i> Onde estudar?</a></li>
      <li><a href="/inspiracao"><i class="bx bx-lightbulb"></i> Inspire-se</a></li>
      <li><a href="/sobrenos"><i class="bx bx-info-circle"></i> Sobre nós</a></li>
  </ul>
  <div class="item" style="color: #3d3d3d; font-weight: bold; ">
    <div *ngIf="!loggedIn()" (click)="onloginClick()" class="nav-bar-items" style="color: #0fbc09; background-color: rgb(149, 251, 47); padding: 10px; border-radius: 10px; text-align: center;">Logar :) </div>
   
    <div  *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items" style="color: #feabab; background-color: rgb(255, 0, 0); padding: 10px; border-radius: 10px;" > Sair  :( </div>
</div>
    </nav>
    <ul class="head-hd">
        <div class="menu-icon" (click)="toggleNavbar()">&#9776;</div>
        <div class="head-item">
            <a class="head-link" href="/"><img src=". /img/logo-sparte.png" alt="" width="120px" style="margin-left: 10px;"></a>
          </div>
          <a href="/"class="item" style="color: #3d3d3d;" >Home </a>
          <a href="/feed" class="item" style="color: #3d3d3d;"> Postagens </a>
          <a href="/sobrenos" class="item" style="color: #3d3d3d;">Sobre nós</a>
          <a href="/inspiracao" class="item" style="color: #3d3d3d;">Inspire-se</a>
       
            <div id="nav-bar">
              <div id="nav-bar-content">
                  <div id="nav-bar-left">
               
                  </div>
                  <div class="item" style="color: #3d3d3d; font-weight: bold; ">
                      <div *ngIf="!loggedIn()" (click)="onloginClick()" class="nav-bar-items" style="color: #0fbc09; background-color: rgb(149, 251, 47); padding: 10px; border-radius: 10px; width: 80px; margin-left: 150px; text-align: center;">Logar :) </div>
                     
                      <div  *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items" style="color: #feabab; background-color: rgb(255, 0, 0); padding: 10px; border-radius: 10px; width: 50px; margin-left: 150px;" > Sair  :( </div>
                  </div>
              </div>
          </div>
            
          </ul>
<header></header>