/* Estilos base */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 999;
}

.navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 180px;
    height: 100%;
    background: url("/img/fundo-nav.png") no-repeat center/cover;
    transition: left 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar img {
    width: 100px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* Ajuste conforme necessário */
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    padding: 20px;
    margin-top: 1.25rem;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: #272727;
    padding: 0;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 17px; /* Tamanho base do texto */
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #a1072e;
    transition: width 0.3s ease-in-out;
}

.navbar a:hover {
    color: #1d1d1d;
}

.navbar a:hover::before {
    width: 100%;
    background-color: #811300;
}

.navbar button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #535353;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.navbar button:hover {
    color: #d8800c;
    background-color: #b95a2e;
}

/* Estilos para itens do menu */
a.item {
    display: flex;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: #3d3d3d;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 10px; /* Espaçamento entre os itens */
}

a.item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #4e006d;
    transition: width 0.3s ease-in-out;
}

a.item:hover::before {
    width: 100%;
    background-color: #735286;
}

/* Estilos para o cabeçalho principal */
.head-hd {
    display: flex;
    justify-content: space-between; /* Distribui os elementos no espaço disponível */
    align-items: center;
    padding: 0 20px; /* Espaçamento interno do cabeçalho */
}

.head-item img{
    margin-right: 70px; /* Margem à direita automática para ajustar à esquerda */
}

.menu-icon {
    font-size: 1.875rem; /* Tamanho do ícone do menu */
    color: #7e0d05;
    cursor: pointer;
    padding: 0.625rem; /* Espaçamento do ícone do menu */
}


/* RESPONSIVIDADEZINHA */
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 599) {
    .navbar {
        width: 100%;
        padding: 7px;
        font-size: 7pt;
    }

    .navbar img {
        width: 7rem; /* Reduzindo a largura da imagem */
        margin-top: 0;
        margin-left: 0;
        display: flex;
        position: relative;
    }

    .close-button {
        font-size: 20px;
        color: white;
    }

    .head-hd {
        flex-direction: column;
        align-items: flex-start;
    }

    a.item {
        display: none; /* Oculta completamente os itens */
    }

    .nav-bar-items{
        display: none;
    }
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .navbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        padding: 7px;
        z-index: 1000;
        font-size: 7pt;
    }
    .navbar img{
      width: 7rem; /* Reduzindo a largura da imagem */
      margin-top: 0;
      margin-left: 0;
      display: flex;
      position: relative;
    }
.navbar li{
  margin-top: 1.25rem;
}

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .nav-links {
        list-style-type: none;
        padding-left: 0;
        margin-top: 60px;
        margin-left: 10px;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        color: rgb(102, 5, 5);
        cursor: pointer;
        padding: 10px;
    }


    .search-input {
        width: 20px;
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .topbar {
        display: none;
    }


    .search-container {
        display: none;
    }

    .head-hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .head-hd .nav {
        display: none;
    }

    .head-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .head-link {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a.item {
        display: none; /* Oculta completamente os itens */
    }

    .nav-bar-items{
        display: none;
    }
}

  @media (min-width: 601px) and (max-width: 1135px) {
    .perfil {
        display: none;
    }
    .head-link {
        margin-left: 22px;
    }
    a.nav {
        font-size: medium;
        margin-left: 40px;
    }
    .navbar img {
        width: 80px;
        height: 80px;
        margin-top: -10.5rem;
    }
    .head-hd {
        flex-direction: row;
        justify-content: space-around;
    }

    .head-item {
        margin-right: 0;
    }

    .head-link {
        margin-left: 0;
    }

    a.item {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 10pt;
        justify-content: center;
    }

    .nav-bar-items{
        display: none;
    }
}

/* Estilos para monitores médios e grandes */
@media (min-width: 1136px) {
    .head-hd {
        flex-direction: row;
        justify-content: space-between;
    }

    .head-item {
        margin-right: 245px;
    }


    a.item {
        margin-right: 60px;
        font-size: 11pt;
        justify-content: center;
    }
}   /* Adicione qualquer estilo específico para telas grandes aqui */