<mat-card id="post-card">
    <mat-card-header>
        <mat-card-title>  </mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>
    <img class="post" mat-card-image src="{{postData.imageUrl}}">
    <mat-card-content>
     {{postData.comment}}
    </mat-card-content>
    <!-- <mat-card-actions>
          <mat-icon class="action-item" color="warm">chat_bubble_outline</mat-icon>
          <mat-icon  class="action-item" color="warm">favorite_border</mat-icon>
          <mat-icon  class="action-item" color="warm">save</mat-icon>
    </mat-card-actions> -->

</mat-card>