#action-item{
    margin-left: .5em;
    cursor: pointer;

}

#post-card{
    margin-top: 20px ;
    margin-bottom: 20px;
 background-color: #b5b5f1;
}
#post-card img {
    max-width: 400px;
   display: block;
      margin: 0 auto;
}