<mat-card>
    <mat-card-header> 
  <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>Descrição</mat-card-subtitle>

    </mat-card-header>
   <!-- <img  mat-card-lg-image src="`{{postData?.imageUrl}}"> -->
   <mat-card-content>
        <!-- {{postData?.comment}} pausa no video (9:40) -->
   </mat-card-content>
<mat-card-actions>
    <mat-icon class="action-item">chat_bubble_outline</mat-icon>
    <mat-icon class="action-item">favorite_border</mat-icon>
    <mat-icon class="action-item">star_border</mat-icon>
</mat-card-actions>
</mat-card>
