<body>
    
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="" alt="">
            <div class="card-conteudo">
                <h3>card 1</h3>
                <p>hahahahahahah</p>
                <a href="" class="btn">Conheça sobre</a>
            </div>
        </div>
    </div>

</body>
 
  
