<body>
    <div class="container-sparte">
        <img  src=" /img/logo-sparte.png" alt="" class="imagem">
        <h1  class="nh"> Nossa hístoria:</h1>
        
        <p class="ps">
            No fim de 2023 surge para nós o desafio de desenvolver para nosso TCC (trabalho de conclusão de curso) do curso
            de DS, precisávamos criar que solucionasse alguma problemática existente na nossa sociedade. Entre diversas
            ideias decidimos que deveríamos falar sobre a arte, afinal a arte está presente no nosso dia a dia, e pouco
            se fala, principalmente no nosso meio da tecnologia, o quanto a arte vem sendo desvalorizada e esquecida ao
            longo do tempo.

        </p>
        <p class="ps">
             O Sparte surge com essa missão de combater a exclusão da cultura artística usando como meio a própria arte,
            e quando falamos de arte, falamos de todo tipo arte, a música, a dança, o desenho, a fotografia, a poesia e
            qualquer outra vertente da arte
</p>
        <p class="ps"> O Sparte pretende conectar artistas com outros artistas, e deixar os apreciadores da arte mais perto e
            conectados daquilo que apreciam</p>
        <h1 class="spa"> SPARTE: <br> CONECTANDO A ARTE </h1>

    </div>



    
    <div class="container">
        <h1 class="fn"> FEITO POR NÓS: </h1>
        <div class="row">
            <div class="person person1">
                <img src=" /img/catt.jpg" alt="">
                <div class="details">
                    <span class="name" style="color: rgb(92, 26, 153);"> Catt</span>
                    <p class="role" style="color: rgb(65, 0, 126);"> Dev Front-End e Designer</p>

                </div>
            </div>
            <div class="person person2">
                <img src=" /img/emy.jpg" alt="">
                <div class="details">
                    <span class="name" style="color: rgb(213, 33, 33);"> Emy </span>
                    <p class="role" style="color: rgb(142, 17, 17);">Dev Front-end e Designer </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="person person3">
                <img src=" /img/pedro.jpg" alt="">
                <div class="details">
                    <span class="name" style="color: rgb(255, 189, 23);">Pedro</span>
                    <p class="role" style="color: rgb(255, 142, 12);">Dev Back-end e Banco de Dados</p>
                </div>
            </div>
            <div class="person person4">
                <img src=" /img/renan.jpg" alt="Pessoa 4">
                <div class="details">
                    <span class="name" style="color: rgb(81, 81, 238);"> Renan </span>
                    <p class="role" style="color: blue;"> Dev Back-end e Banco de Dados </p>
                </div>
            </div>
        </div>
    </div>
   
</body>
